<div class="register_container">
<h2 class="hello_h2">Hello!</h2>
<p>Create New account here. </p>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field">
    <%= f.text_field :name, autofocus: true, class: 'form_field',placeholder:"Full Name" %>
  </div>
  
   <div class="field">
    <%= f.text_field :phone,class: 'form_field', placeholder:"Phone" %>
  </div>

  <div class="field">
    <%= f.text_field :country,class: 'form_field', placeholder:"Country", type:"select" %>
  </div>

  <div class="field">
    <%= f.date_field :birth,class: 'form_field', placeholder:"Date of birth" , type:"date" %>
  </div>

  <div class="field">
    <%= f.email_field :email,autocomplete: "email", class: 'form_field', placeholder:"Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, class: 'form_field', placeholder:"Password "  %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, class: 'form_field',placeholder:"Confim password" %>
  </div>

  <div class="field">
    <h4>Select yor gender</h4>
    <%= f.radio_button(:gender?, "male") %>
    <%=f.label(:gender?, "male", value: "male")%>
    <%=f.radio_button(:gender?, "female")%>
    <%=f.label(:gender?, "female", value: "female")%>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" ,class: 'sign_up_btn' %>
  </div>

<% end %>

<div class="links">
 <h3>Do you have an account?</h3>   <%= render "devise/shared/links" %>
</div>

</div>
