<div class="container">
  <section class="psychologist-edit">
    <%= image_tag("user_edit.svg", alt: "Psychologist img", class:"psychologist-edit_img")%>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "psychologists/shared/error_messages", resource: resource %>

      <div class="form-group psychologist-edit_form">
        <%= f.label :name, class:"form-label psychologist-edit_label"%>
        <%= f.text_field :name, class:"form-control psychologist-edit_field"%>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :email, class:"form-label mt-2 psychologist-edit_label"%> 
        <%= f.email_field :email, class:"form-control psychologist-edit_field"%>
      </div>

      <div class="form-group">
        <%= f.label :description, 
                    "Tell us something about you!", 
                    class:"form-label mt-3 psychologist-edit_label fs-5"%>
        <%= f.text_area :description, 
                        :cols => 40, 
                        :rows => 5, 
                        class:"form-control psychologist-edit_field"%>
      </div>

      <div class="form-group mt-2">
        <%= f.label :password, class:"form-label psychologist-edit_label"%>
        <%= f.password_field :password, class:"form-control psychologist-edit_field" %>
      </div>

      <div class="form-group mt-3">
        <%= f.label :password_confirmation, class:"form-label psychologist-edit_label"%>
        <%= f.password_field :password_confirmation, class: "form-control psychologist-edit_field" %>
      </div>

      <div class="form-group mt-2">
        <p class="fst-italic text-muted info-text">We need your current password to confirm changes</p>
        <%= f.label :current_password, class:"form-label psychologist-edit_label"%> 
        <%= f.password_field :current_password, class: "form-control psychologist-edit_field" %>
      </div>
    </section>

    <div class="toolbar">
      <%= f.submit "Save", class:"toolbar_update" %>
      <%= link_to "Cancel", profile_psychologist_path, class:" btn toolbar_back"%>
    </div>
  <% end %>
  <div class="delete-account mb-3">
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:" btn btn-danger delete-account_button" %>
  </div>
</div>
