<div class="register_container">
  <h2 class="hello_h2"><%= t('greeting') %></h2>
  <p><%= t('new_account') %></p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "psychologists/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, class: 'form_field',placeholder:t('name') %>
    </div>
    
    <div class="field">
      <%= f.text_field :phone,class: 'form_field', placeholder:t('phone') %>
    </div>

    <div class="field">
      <%= f.text_field :country,class: 'form_field', placeholder:t('country'), type:"select" %>
    </div>

    <div class="field">
      <%= f.date_field :birth, class: 'form_field', placeholder:"Date of birth" , type:"date" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autocomplete: "email", class: 'form_field', placeholder:t('email') %>
    </div>

    <div class="field">
      <%= f.password_field :password, class: 'form_field', placeholder:t('password_length')  %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, class: 'form_field',placeholder:t('password_confirmation') %>
    </div>

    <div class="field">
      <%= f.text_field :price, class:"form_field", placeholder: t('price') %>
    </div>

    <div class="field">
      <%= f.text_field :speciality, class:"form_field", placeholder: t('speciality') %>
    </div>

    <div class="field">
      <%= f.text_field :professional_register, class:"form_field", placeholder: t('register') %>
    </div>


    <div class="field mt-2 mb-2">
      <h4><%= t('gender') %></h4>
      <div class="flexbox">
        <div class="male">
          <%= f.radio_button(:gender, "male") %>
          <%= f.label(:gender, t('male'), value: "male")%>
        </div>
        <div class="female">
          <%= f.radio_button(:gender, "female") %>
          <%= f.label(:gender, t('female'), value: "female")%>
        </div>
        <div class="non-binary">
          <%= f.radio_button(:gender, "Non-Binary") %>
          <%= f.label(:gender, t('non_binary'), value: "non-binary")%>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t('sign_up') ,class: 'sign_up_btn' %>
    </div>
  <% end %>

  <div class="links">
    <h3><%= t('account_question') %></h3>  <%= render "psychologists/shared/links" %>
  </div>

</div>
