<main class="container-fluid">
  <section class="faqs">
    <div class="faqs-text">
      <%= t('what_html') %>
    </div>
    <div class="faqs-text">
      <%= t('how_html') %>
    </div>
    <div class="faqs-text">
      <%= t('effective_html') %>
    </div>
    <div class="faqs-text">
      <%= t('payment_html') %>
    </div>
    <div class="faqs-text">
      <%= t('long_html') %>
    </div>
  </section>
</main>
