<main class="container-fluid">
  <section class="hero">
    <div class="hero-text">
      <%= t('psycho_html') %>
      <%= t('help_html') %>
    </div>
    <div class="hero-img">
      <%= image_tag("home_content.png", alt:"Home image",class:"img-fluid mb-2")%>
    </div>
    <div class="hero-content">
      <%= link_to t('start'), psychologists_list_path, class: "hero-content_button"%>
      <p class="hero-content_text">
        <%= t('main_content') %>
      </p>
    </div>
  </section>
</main>
