
<div class="list-container">

 <h1>Choose your online Psychologist</h1>

 <section class ="content">
   <div class="filter-section">

    <p>Search Psychologist by</p>

    <div class="filter-btns">

      <%= button_to 'Alphabetical Order', { :action => "psychologist_list", :value => 'name'},class: "btn-filter" %>
      <%= button_to 'Rating', { :action => "psychologist_list", :value => ''},class: "btn-filter" %>
    
    </div >

   </div>

   <div class="list">
   
    <% @psychologist.each do |e| %>
        <div class="user-item">
          <%= image_tag("user1.png", alt: "Logo", class:"user_image")%>
          <div class="user-item_info">
            <h1><%= e.name %></h1>
            <p><%= e.email %></p>
            <p><%= e.description %> </p>
            <p class="btn btn-primary mt-2 p-1"><span class="text-white fw-bold"><%= e.speciality %></span></p>
          </div> 
          <span class=”glyphicon glyphicon-star-empty”>
          <% if not current_psychologist %>
            <%= link_to 'Schedule Appointment', new_appointment_path(psychologist_id: e.id), class:"user_button"%>
          <% end %>
          <div class="start">
            <% 5.times do %>
              <%= image_tag("rateStar.png", alt: "Logo", class:"start-rate")%>
            <% end %>
          </div>
        </div>
    <% end %>

   </div>
   
  <section>

 </div>