<div class="form-container">
<div class="image-section">
      <%= image_tag("login_img.png", alt: "Logo", class:"login-img")%>

</div>
<div class="form-section">
<h1>Hello!</h1>
<p>Sign into you account here</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
   <br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "form-control", placeholder:'Email' %>
  </div>

  <div class="field">
   <br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder:'Password' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in",class: "form-button" %>
  </div>
<% end %>

<h3>Don´t have an account?  <%=  render "devise/shared/links" %></h3>
</div>
</div>