<div class="appoint_container">
  <% @appointment.each do |a| %>
    <div class="list-element">
      <div class="left-content">
        <p>
          Psychologist: <br>
          Date: <%= a.datetime %> <br>
          Price: $50 usd
        </p>
      </div><br>
      <div class="middle-content">
        <p>
          <%= "🟢" if a.pay == true%>
          <%= "🟡" if a.pay == false%> 
        </p>
      </div><br>
      <div class="right-content">
        <%= link_to "Edit", edit_appointment_path(a), class: "btn btn-warning" %><br>
        <%= link_to "Delete", appointment_path(a), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    </div><br>
  <% end %>
</div>