<div class="container w-50 mt-5">
  <h1 class="mt-2">Create a new Appointment!</h1>
  <%= form_for(@appointment) do |f| %>

    <div class="form-group mt-2">
      <%= f.label :datetime, "Reserva una fecha para tu cita!", class:"form-label"%>
      <%= f.datetime_local_field :datetime, class:"form-control", placeholder:"dd/mm/aaaa --:--"%>
    </div>

      
    <div class="form-group mt-2">
      <%= f.label :message, "Leave a message for you psychologist", class:"form label" %>
      <%= f.text_field :message, class:"form-control" %>
    </div>
    
    <div class="field mt-2 mb-2">
      <h4>Do you actually pay?</h4>
      <div class="flexbox">
        <div class="form-check male">
          <%= f.radio_button(:pay, true, class:"form-check-input" , id:"flexCheckDefault") %>
          <%= f.label(:pay, "Yes 🤗", value: true, class:"form-check-label")%>
        </div>
        <div class="form-check female">
          <%= f.radio_button(:pay, false, class:"form-check-input") %>
          <%= f.label(:pay, "No 😯", value: false, class:"form-check-label")%>
        </div>
      </div>
    </div>

    <div class="form-group">
      
        <%= f.label :patient_id, "Your ID",class:"form-label"%>
        <%= f.text_field :patient_id, class:"form-control", value: current_patient.id, id:"disabledTextInput"%>
      
    </div>

    <div class="form-group mt-2">
      
        <%= f.label :psychologist_id, "ID of the psychologist", class:"form label" %>
        <%= f.text_field :psychologist_id, class:"form-control" , value: params["psychologist_id"]%>
      
    </div>

    <div class="actions mt-3">
      <%= f.submit "Save", class: "btn btn-outline-primary d-block w-25 mx-auto mb-2" %>
    </div>
  <% end %>
</div>
