<!-- NAVBAR MOBILE -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" 
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="logo">
      <%= image_tag("Let_Me_Help_You_Logo.png", alt: "Logo", class:"logo-img")%>
      <h2 class="logo-text">Let Me Help You</h2>
    </div>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="#">Psychologist</a>
        <a class="nav-item nav-link" href="#">Prices</a>
        <a class="nav-item nav-link" href="faqs">FAQS</a>
        <a class="nav-item nav-link" href="#">Chat</a>
        <div class="toolbar">
        <% if user_signed_in?%>
          <%= link_to "Welcome", class:"text-decoration-none"%>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"toolbar-sign_up text-decoration-none"%>
        <% else%>
          <%= link_to "Sign In", new_user_session_path, class:"text-decoration-none"%>
          <%= link_to "Sign Up", new_user_registration_path, class:"toolbar-sign_up text-decoration-none"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

<!-- Navbar Desktop -->
<div class="nav-desktop">
  <div class="nav-logo">
    <%= image_tag("Let_Me_Help_You_Logo.png", alt: "Logo", class:"nav-logo_img")%>
    <h2 class="nav-logo_text">Let Me Help You</h2>
  </div>

  <div class="nav-links">
    <a href="#" class="nav-links_item">Psychologist</a>
    <a href="#" class="nav-links_item">Prices</a>
    <a href="faqs" class="nav-links_item">FAQS</a>
  </div>

  <div class="nav-toolbar">
      <% if user_signed_in?%>
          <%= link_to "Welcome", current_user.email, class:"nav-toolbar_link"%>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"nav-toolbar_button"%>
        <% else%>
          <%= link_to "Sign In", new_user_session_path, class:"nav-toolbar_link" %>
          <%= link_to "Sign Up", new_user_registration_path, class:"nav-toolbar_link" %>
    <% end %>
  </div>
</div>
